.hrline{
    border: 0.4px solid gray;
}

.navbar-left nav
{
    display: flex;
}

.navbar-left nav p{
  color: black;
  text-decoration: none;
  padding: 0 10px;
  position: relative;
  padding:0 6rem; 
}

/* .navbar-left nav a:hover{
     border-bottom: 2px solid aqua;
} */
.animation{
height: 2px;
  width: 100px;
  position: absolute;
  bottom: 0px;
  left: 90px;
  background-color:green;
  transition: all 0.5s ease 0.3s;
}


.navbar-left nav  p:nth-child(1):hover~.animation
{
  width: 80px;
  left: 10px;
}

.navbar-left nav  a:nth-child(2):hover~.animation
{
  width: 100px;
  left: 28%;
}



.navbar-left nav  a:nth-child(3):hover~.animation
{
  width: 100px;
  left: 50%;
}


.navbar-left nav  a:nth-child(4):hover~.animation
{
  width: 160px;
  left: 73%;
}


@media (max-width:550px) {
  .animation{
      left: 5px;
      width: 80px;
    }
  .navbar-left nav p{
    color: black;
     padding:0 13px; 
     font-size: 14px;
  }
  .hidden
  {
    display: none;
  }
  .navbar-left nav  p:nth-child(1):hover~.animation
  {
    width: 80px;
    left: -10px;
  }
  .navbar-left nav  a:nth-child(2):hover~.animation
{
  width: 80px;
  left: 30%;
}

.navbar-left nav  a:nth-child(3):hover~.animation
{
  width: 80px;
  left: 55%;
}
}